@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* In your CSS file */
.landing-page {
  /* Set the height of the navbar and footer to 0 */
  padding-top: 0;
  padding-bottom: 0;
}

.landing-page .navbar,
.landing-page .footer {
  /* Hide the navbar and footer */
  display: none;
}

.devicon-devicon-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-devicon-plain path {
  fill: #4691f6;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Adjust this value accordingly */
  /* Other navbar styles */
}

